.image{
    height:40em; background-size:cover; width:auto;
    background-image:url(C:\500\my-website\src\app\thunderstorm.jpg);
    background-position:50% 50%;
    transition: 1s;
}

.image2{
    height:40em; background-size:cover; width:auto;
    background-image:url(C:\500\my-website\src\app\lightsky.jpg);
    background-position:50% 50%;
    transition: 1s;
}


