<div class="top-menu">
    <div class="button1">weather forecast</div>
    <div class="button2" routerLink="/search">main page</div>
    <div class="button3">current weather</div>
</div>
<div class="text">input your city and get to know the weather in it</div>
<div>
    <input placeholder="input your city" [(ngModel)]="city">
    <div class="submit" (click)="getData(city);">search</div>
</div>
<div class="temperature" *ngIf="showTemperature">
    current temperature in {{city_t}} is +{{temperature}} degrees
</div>
<div class="temperature" *ngIf="showNone">
    we can't find the city {{city_t}}
</div>