<div class="top-menu">
    <div class="button1" (click)="toggleEditor('forecast');delete();getForecast(text.value);closeMessage()">weather forecast</div>
    <div class="button2" routerLink="/search">main page</div>
    <div class="button3" (click)="toggleEditor('current');delete();getCurrent(text.value);closeMessage()">current weather</div>
</div>
<div>
<div *ngIf="showCurrent">
    <div @weather class="text">input your city and get to know the current weather in it</div>
    <div>
        <input #city [formControl]="text" placeholder="input your city" (keyup.enter)="getCurrent(city.value)">
        <div class="submit" (click)="getCurrent(city.value)">search</div>
    </div>
    <div @fav class="temperature" [ngClass]="{'temperature2': lightModeActive}" *ngIf="showTemperature">
        current temperature in {{city_t}} is {{temperature}} degrees
        <div class="addFav" *ngIf="like" (click)="addFav(city.value)"></div>
        <div routerLink="/more" (click)="cityIn()" class="more" [ngClass]="{'more2': lightModeActive}">
            view more
        </div>
    </div>
    <div @fav class="temperature" [ngClass]="{'temperature2': lightModeActive}" *ngIf="showNone">
        we can't find the city {{city_t}}
    </div>
</div>
<div *ngIf="showForecast">
    <div @weather class="text">input your city and get to know the weather forecast in it</div>
    <div>
        <input #city [formControl]="text" placeholder="input your city" (keyup.enter)="getForecast(city.value)">
        <div class="submit" (click)="getForecast(city.value)">search</div>
    </div>
    <div @fav class="temperature" [ngClass]="{'temperature2': lightModeActive}" *ngIf="showTemperature">
        max temperature in {{city_t}} today will be {{maxTemp}} degrees and lowest: 
        <div class="addFav_" *ngIf="like" (click)="addFav(city.value)"></div>
        {{minTemp}} degrees        
        <div routerLink="/more" (click)="cityIn()" class="more" [ngClass]="{'more2': lightModeActive}">
            view more
        </div>
    </div>
    <div @fav class="temperature" [ngClass]="{'temperature2': lightModeActive}" *ngIf="showNone">
        we can't find the city {{city_t}}
    </div>
</div>
<div @message *ngIf="message" class="message" [ngClass]="{'message_': !typeMes}" (click)="close()">
    {{city_t}} have added to favourite cities you can choose on the main page
</div>
