.left-menu{
    position: absolute;
    text-align: center;
    width: 25%;
    background: rgba(0, 10, 39, 0.25);
    height: 100%;
    .back, .back2{
        font: bold normal 120%/120% fantasy;
        border: 3px solid rgb(188, 222, 255);
        color: rgb(188, 222, 255);
        border-radius: 60px;
        margin: 10px;
        background: none;
        font-size: 50px;
        opacity: .5;
    }

    .back2{
        color: rgb(0, 22, 44);
        border: 3px solid rgb(0, 22, 44);
    }

    .back:hover, .back2:hover{
        opacity: 1;
        margin-top: 11px;
    }

    .back:active{
        margin-top: 11px;
        border-color: white;
        color: white;
    } 
    
    .back2:active{
        margin-top: 11px;
        border-color: black;
        color: black;
    } 

    .back:focus, .back2:focus{
        outline: none;
    } 

    .buttons{
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.4em;
        font-size: 20px;
        margin-top: 15px;  
        color: rgb(172, 177, 255); 
    }
    
    .buttons li{
        padding: 15px;
        margin: 2px 10px 2px 10px;
        background: rgba(0, 10, 39, 0.45);       
    }

    .buttons li:hover{
        background: rgba(0, 10, 39, 0.99);
    }
}

.text, .text2{
    position:absolute; 
    font: bold small-caps 120%/120% fantasy;
    font-size: 40px;
    width: 900px;
    color: rgba(255, 255, 255, 0.2); 
    left: 350px; 
    top: 10px;
    .sChar {
        font-size: 60px;
        color: rgb(255, 255, 255); 
        text-shadow: 1px 1px 2px black;
    }
}

.text2{
    color: rgba(255, 255, 255, 0.5);
}

