* {
    margin: 0;
    padding: 0;
}

.start, .start2{
    font: normal small-caps 120%/120% fantasy;
    font-size: 100px;
    color: rgb(188, 222, 255);
    position: absolute; 
    width: 200px; 
    top: 260px; 
    left: 50%;
    opacity: .5;
    margin: 0 0 0 -100px;
    transition: .1s;
}

.start2{
    color: rgb(0, 22, 44);
}

.start:hover, .start2:hover{
    opacity: 1;
    font-size: 104px;
    margin: 0 0 0 -102px;
}

.start:focus, .start2:focus {
    outline: none;
}

.start:active {
    color: white;
    top: 261px; 
}

.start2:active {
    color: black;
    top: 261px; 
}

.title{
    font: bold small-caps 120%/120% fantasy;
    font-size: 120px;
    color: white;
    position: absolute; 
    width: 800px; 
    top: 30px; 
    left: 50%;
    margin: 0 0 0 -400px;
    transition: .3s
}

.title:hover{
    opacity: .8;
}

.text{
    font: bold small-caps 120%/120% fantasy;
    font-size: 40px;
    color: #10172A;
    position: absolute; 
    width: 650px; 
    top: 145px; 
    left: 50%;
    margin: 0 0 0 -325px;
}

.cities, .cities2{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.4em;
    color: white;
    left: 49%;
    text-align: center;
    width: 200px;
    margin: 0 0 0 -100px;
    top: 380px;
    list-style-type: none;
}

.cities2{
    color: #10172A;
}

.cities li, .cities2 li{
    position: relative;
    list-style-type: none;
}

.cities li:focus, .cities2 li:focus {
    outline: none;
}

.message{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    top: 200px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.55);
    color: rgb(26, 0, 97);
    left: 805px;
    width: 400px;
    border-radius: 0 30px 30px 30px;
    padding: 10px 0 10px 0;
}

.message:hover{
    background: rgba(255, 255, 255, 0.85);
}

.message:active{
    background: white;
    padding: 11px 0 11px 0;
}



